@import '../../node_modules/bootstrap/less/bootstrap.less';
@import 'variables';
@import '../../node_modules/adamrneary-base-css/css/typography';

@import '../components/article-content/article-content';
@import '../components/footer/footer';
@import '../components/nav/nav';
@import '../components/page-header/page-header';
@import '../components/page-wrapper/page-wrapper';
@import '../components/table-of-contents/table-of-contents';

// BOOTSTRAP ADJUSTMENTS
.btn {
  text-transform: uppercase;
  font-size: 14px;
}

h1 {
  margin: 80px 0 20px;
}
h2 {
  margin: 52px 0 13px;
}
p a, p a:hover, p a:focus {
  text-decoration: underline;
}
