.Nav {
  font-family: @font-family-sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  background-color: white;
  border-color: #eeeeee;
}
.Nav--Right {
  margin-right: 15px;
}
.Nav--Right .Nav--Button {
  margin: 5.5px 0 0 5.5px;
}

.dropdown-menu {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.dropdown-menu > li > a {
  font-weight: 600;
  color: @gray-light;

}

.Navbar--Brand {

}
.HeaderLogo {
  height: 28px;
}
.Avatar {
  height: 34px;
  width: 34px;
  border-radius: 100%;
  border: 2px solid @gray;
}


.NavMessageItem {
  min-width: 250px;
  max-width: 350px;
  text-transform: capitalize;
  border-bottom: 1px solid #777;
  padding: 5px 0;
}
.NavMessageItem--Header {
  font-weight: 800;
}
.NavMessageItem--Date {
  float: right;
}
.NavMessageItem--Body {
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
}
